.hero-hand-icon img{
    width: 110px;
    height: 110px;
}
.hero-latest-btn img{
    width: 105px;
    height: 30px;
    background-color: red;
}
.hero-right img{
    width: 100%;
    height: 100%;
}
.hero{
    height: 100vh;
    background: linear-gradient(180deg,rgb(231, 215, 215),rgb(175, 166, 166) 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;

}
.hero-left h2{
    color: black;
    font-size: 26px;
    font-weight: 600;
    padding-right: 180px;
    padding-top: 50px;
   

}
.hero-left p{
    color: black;
    font-size: 80px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon p{
    padding-right: 100px;
}
.para p {
  padding-right: 170px;
  padding-left: -20;
  flex-wrap: wrap;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 35px;
    background: red;
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
    flex-wrap: wrap;
    

}
.btn{
    padding-left: 70px;
    flex-wrap: wrap;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
